<%# 
inputs this file:
-----------------
rou , email, token
%> 

<%# Html - Body %> 
<%- include('../layouts/authentication/header.ejs'); %>

<%# Template %> 
<section class="hero is-fullheight">
        <div class="hero-body has-text-centered">
            <div class="login">
                <p class="is-size-4 has-text-weight-bold has-text-center my-4">تکمیل اطلاعات حساب کاربری</p>
                <form action="<%= rou.registerForm %>" method="post">
                    <input hidden value="<%= token %>" name="token" />
                    <div class="field">
                        <div class="control">
                            <input name="name" class="input is-medium is-rounded" type="text" placeholder="نام و نام خانوادگی"
                            required />
                        </div>
                    </div>
                    <div dir="ltr" class="field">
                        <div class="control">
                            <input readonly id="emailRegisterForm" name="email" class="input is-medium is-rounded"
                            type="email" value="<%= email %>" />
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input name="password" class="input is-medium is-rounded" type="password" placeholder="رمز عبور"
                                required />
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input name="password_confirmation" class="input is-medium is-rounded" type="password" placeholder="تکرار رمز عبور"
                                required />
                        </div>
                    </div>
                    <div class="field has-addons">
                        <p class="control is-expanded">
                            <input name="phone" dir="ltr" class="input is-medium is-rounded" type="tel" pattern="[0-9]{11}"
                                maxlength="11" placeholder="شماره تلفن همراه - ۱۱رقم" required />
                        </p>
                        <p class="control">
                            <a class="button is-rounded is-size-5" id="tel">
                                ۹۸ +
                            </a>
                        </p>
                    </div>
                    <div class="field">
                        <label class="label">آدرس پستی</label>
                        <div class="control">
                            <input name="address" class="input is-medium is-rounded" type="text" placeholder="تهران، خیابان ..."
                                required />
                        </div>
                    </div>
                    <br>
                    <button class="button is-block is-fullwidth is-danger is-medium is-rounded" type="submit">
                        ادامه
                    </button>
                </form>
            </div>
        </div>
</section>

<%# Body - Html %> 
<%- include('../layouts/authentication/footer.ejs', {timerStart: false}) %>