<div class="hero-foot">
    <div class="container">
        <div id="box" class="box">
            <div id="navbarMenuHeroB" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item">
                        <img src="<%= rou.static_img %>digikala_logo_footer.svg" alt="Logo">
                    </a>
                    <span class="navbar-item">
                        <p class="has-text-white is-size-5">دانلود اپلیکیشن دیجی‌کالا</p>
                    </span>
                </div>
                <div class="navbar-end">
                    <a class="navbar-item">
                        <img src="<%= rou.static_img %>googleplay_footer.svg" alt="googleplay">
                    </a>
                    <a class="navbar-item">
                        <img src="<%= rou.static_img %>bazar_footer.svg" alt="bazar">
                    </a>
                    <a class="navbar-item">
                        <img src="<%= rou.static_img %>myket_footer.png" alt="myket">
                    </a>
                    <a class="navbar-item">
                        <img src="<%= rou.static_img %>sebapp_footer.svg" alt="sebapp">
                    </a>
                    <a class="navbar-item">
                        <a href="" class="button has-text-weight-bold">...</a>
                    </a>
                </div>
            </div>
        </div>
        <div class="content">
            <h4>فروشگاه اینترنتی دیجی‌کالا، بررسی، انتخاب و خرید آنلاین
            </h4>
            <div class="columns is-multiline is-mobile">
                <div class="column">
                    <p class="is-size-6 has-text-grey-light">دیجی‌کالا به عنوان یکی از قدیمی‌ترین فروشگاه های
                        اینترنتی با بیش از یک دهه تجربه، با پایبندی به سه اصل، پرداخت در محل، ۷ روز ضمانت بازگشت
                        کالا و تضمین اصل‌بودن کالا موفق شده تا همگام با فروشگاه‌های معتبر جهان، به بزرگ‌ترین
                        فروشگاه اینترنتی ایران تبدیل شود. به محض ورود به سایت دیجی‌کالا با دنیایی از کالا رو به
                        رو می‌شوید! هر آنچه که نیاز دارید و به ذهن شما خطور می‌کند در اینجا پیدا خواهید کرد.</p>
                </div>
                <div class="column is-one-quarter">
                    <div class="columns is-multiline">
                        <div class="column">
                            <figure class="image is-24x24">
                                <img src="<%= rou.static_img %>std1.png" alt="">
                            </figure>
                        </div>
                        <div class="column">
                            <figure class="image is-24x24">
                                <img src="<%= rou.static_img %>std2.png" alt="">
                            </figure>
                        </div>
                        <div class="column">
                            <figure class="image is-24x24">
                                <img src="<%= rou.static_img %>std3.png" alt="">
                            </figure>
                        </div>
                    </div>



                </div>
            </div>
            <hr>
            <div class="has-text-centered">
                <p>
                    استفاده از مطالب فروشگاه اینترنتی دیجی‌کالا فقط برای مقاصد غیرتجاری و با ذکر منبع
                    بلامانع است. کلیه حقوق این سایت متعلق به شرکت نوآوران فن آوازه (فروشگاه آنلاین دیجی‌کالا)
                    می‌باشد.
                </p>
            </div>
            <br>
        </div>
    </div>
    <nav class="tabs is-boxed is-fullwidth">
        <div class="container">
            <ul>
                <li class="is-active">
                    <a>خانه</a>
                </li>
                <li>
                    <a>پیوند ۱</a>
                </li>
                <li>
                    <a>پیوند ۲</a>
                </li>
                <li>
                    <a>پیوند ۳</a>
                </li>
                <li>
                    <a>پیوند ۴</a>
                </li>
                <li>
                    <a>پیوند ۵</a>
                </li>
            </ul>
        </div>
    </nav>
</div>