<div class="column is-3">
    <aside class="menu is-hidden-mobile">
        <br>
        <p class="menu-label">
            حساب کاریری
        </p>
        <ul class="menu-list">
            <li><a href="<%= rou.dashboard %>" class="is-active has-text-danger">داشبورد</a></li>
            <li><a href="<%= rou.dashboard_myOrders %>">سفارش‌های من</a></li>
            <li><a href="<%= rou.dashboard_viewAccount %>">اطلاعات حساب</a></li>
        </ul>
        <p class="menu-label">
            مالی
        </p>
        <ul class="menu-list">
            <li><a href="<%= rou.dashboard_chargeWallet %>">شارژ کیف پول</a></li>
            <li>
                <a href="<%= rou.dashboard_digiplus %>" class="has-text-danger-dark">اشتراک دیجی پلاس</a>
            </li>
            <li><a style="opacity: .5; cursor: not-allowed;">حساب بانکی</a></li>
        </ul>
        <p class="menu-label">
            دیگر
        </p>
        <ul class="menu-list">
            <li><a href="<%= rou.dashboard_rewardsPoints %>">جوایز امتیازات</a></li>
            <li><a href="<%= rou.dashboard_myComment %>">نظرات من</a></li>
            <li><a href="<%= rou.logout %>">خروج</a></li>
        </ul>
    </aside>
</div>