<%# 
inputs this file:
-----------------

%> 

<%# variables %>
<% 

%> 

<%# Html - Body %> 
<%- include('../layouts/dashboard/header.ejs') %>

<%# Template %> 
<div class="column is-9">
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="<%= rou.dashboard %>">داشبورد</a></li>
            <li class="is-active"><a><%= lang.dashboard_changePassword %></a></li>
        </ul>
    </nav>
    <% if(flash){ %>
        <div class="notification is-danger">
            <p class="has-text-weight-bold"><%= flash %></p>
        </div>
    <% } %> 

    <br>

    <div class="authentication">
        <p class="is-size-4 has-text-weight-bold has-text-center my-4">تغییر رمز عبور حساب کاربری</p>
        <form action="<%= rou.dashboard_changePassword %>" method="post">
            <div class="field">
                <label class="label">رمز عبور</label>
                <div class="control">
                    <input name="password" class="input is-medium is-rounded" type="password" placeholder="****"
                        required />
                </div>
            </div>
            <hr class="has-background-grey-light">
            <div class="field">
                <label class="label">رمز عبور جدید</label>
                <div class="control">
                    <input name="password_new" class="input is-medium is-rounded" type="password" placeholder="****"
                        required />
                </div>
            </div>
            <div class="field">
                <label class="label">تکرار رمز عبور جدید</label>
                <div class="control">
                    <input name="password_confirmation" class="input is-medium is-rounded" type="password" placeholder="****"
                        required />
                </div>
            </div>
            <br>
            <button class="button is-block is-fullwidth is-danger is-medium is-rounded" type="submit">
                ذخیره اطلاعات
            </button>
        </form>
    </div>

    
</div>

<%# Body - Html %> 
<%- include('../layouts/dashboard/footer.ejs') %>